<head>
</head>

<body>
<h1> aoeu256's Language Immersion Tools </h1>
<p> To learn Japanese you need to be immersed in it as much as possible.  
Inspired by a similar plugin for Firefox called Kanjilish, I have
created a plugin for Google Chrome that gives you Kanji immersion while you surf the web.

To遵earn Japanese君ou要eed to居e浸mmersed中n it as多uch as possible. Inspired by a似imilar plugin for Firefox called Kanjilish, I蔵ave created a plugin for Google Chrome that gives君ou Kanji immersion傍hile君ou surf the web

</p>
<a href="static/wordswap-master.crx">Download Kanji immersion tool</a>
</body>